<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/pruebaImagen.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        IDS Administración
      </a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar concepto" aria-label="Buscar conepto">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </nav>