<form action="#">
  <div class="bwizard clearfix">
    <ol class="bwizard-steps d-flex step-own" role="tablist" style="color: black;">
      <li role="tab" id="level_0">
        <span class="hidden-phone">"seleccionar el concepto"</span> 
      </li>
      <li role="tab" id="level_1">
        <span>"seleccionar el contribuyente"</span> 
      </li>
      <li role="tab" id="level_2">
        <span>"descargar formato"</span>
      </li>
    </ol>
    <div class="well">
      <div class="wizard-step-1" id="step1" role="tabpanel">
        <div class="form-group">
          <label for="contribucion" class="form-label" style="color: black;">Contribucion:</label>
          <input class="form-control" list="browsers" name="contribucion" id="contribucion" placeholder="eliga opcion">
          <datalist id="browsers">
            <option value="001 IMPUESTOS">
            <option value="002 DERECHOS">
            <option value="003 PRODUCTO">
            <option value="004 APROVECHAMIENTOS">
          </datalist>
        </div>
        <div class="form-group">
          <label for="tipos" class="form-label" style="color: black;">Tipo de contribucion:</label>
          <input class="form-control" list="tipo" name="tipos" id="tipos" placeholder="eliga opcion">
          <datalist id="tipo">
            <option value="SOBRE TRASLADO Y DOMINIO">
            <option value="POR METRO CUADRADO">
            <option value="ALUMBRADO PUBLICO">
            <option value="VINOS Y LICORES">
          </datalist>
        </div>
        <div class="form-group">
          <label for="concepto" class="form-label" style="color: black;">Concepto de contribucion:</label>
          <input class="form-control" list="conceptos" name="concepto" id="concepto" placeholder="eliga opcion">
          <datalist id="conceptos">
            <option value="GENERAL">
            <option value="CONCESIONES Y PERMISOS">
            <option value="REFRENDOS">
            <option value="DESCARGA A GRANEL">
          </datalist>
        </div>
        <div class="form-group">
          <label for="detalle" class="form-label" style="color: black;">Descripcion de contribucion:</label>
          <input class="form-control" list="detalles" name="detalle" id="detalle" placeholder="eliga opcion">
          <datalist id="detalles">
            <option value="IMPUESTO PREDIAL">
            <option value="HABITACION RESIDENCIAL">
            <option value="POR METRO CUADRADO">
            <option value="ELECTRIFICACION">
          </datalist>
        </div>
        <div class="form-group">
          <div class="col-md-2">
            <label class="col-sm-12" style="color:black">Cantidad:</label>
            <input type="text">
          </div>
          <div class="col-md-10">
            <label class="col-sm-12" for="btn_agregar"></label>
            <button type="button" class="btn btn-warning btn-sm">Agregar Concepto
            </button>
          </div>
          <br>
        </div>
        <label style="color: black;">Presupuesto</label>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th class="cabecera_presupuesto" style="width: 3%;text-align: center;"></th>
              <th class="cabecera_presupuesto" style="width: 10%;text-align: center;">CLAVE</th>
              <th class="cabecera_presupuesto" style="width: 67%;text-align: center;">DESCRIPCION</th>
              <th class="cabecera_presupuesto" style="width: 10%;text-align: center;">CANTIDAD</th>
              <th class="cabecera_presupuesto" style="width: 10%;text-align: center;">IMPORTE</th>
            </tr>
          </tbody>
        </table>
        <table class="table table-hover table-condensed"></table>
        <table class="table table-hover" border="0">
          <tbody>
            <tr>
              <td style="width: 75%"></td>
              <td style="width: 10%;text-align: right;">
                <b>Total:</b>
              </td>
              <td style="width: 15%;text-align: right;">
                <input type="text">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="wizard-step-2 bwizard-activated" id="step2" role="tabpanel">

      </div>
    </div>
    <ul class="pager bwizard-buttons">
      <li class="next" role="button">
        <a href="step2">siguiente -></a>
      </li>
    </ul>
  </div>
</form>