<p>vistas-pagos works!</p>
<h1 class="color">esto funciona </h1>

<!--
<div height="800px" class="stepper" id="stepper2">
  <div class="steps-container">
    <div class="steps">
      <div class="step" icon="fa fa-pencil-alt" id="1"></div>
      <div class="step" icon="fa fa-pencil-alt" id="2"></div>
      <div class="step" icon="fa fa-pencil-alt" id="3"></div>
      <div class="step" icon="fa fa-pencil-alt" id="4"></div>
    </div>
  </div>
  <div class="stepper-content-container">
    <div class="stepper-content fade-in" stepper-label="1">
      <div>Step 1</div>
    </div>
    <div class="stepper-content fade-in" stepper-label="2">
      <div>Step 2</div>
    </div>
    <div class="stepper-content fade-in" stepper-label="3">
      <div>Step 3</div>
    </div>
    <div class="stepper-content fade-in" stepper-label="4">
      <div>Step 4</div>
    </div>
  </div>
</div>
-->

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>

<div class="container">
  <br>
  <div>
    
  </div>
</div>